# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
packages/

# .NET
project.lock.json
project.fragment.lock.json
*.nupkg

# MSTest
TestResult.xml
TestResults/
[Tt]est[Rr]esult*/

# Rider (JetBrains)
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
